spring:
    application:
        name: security
    datasource:
        url: jdbc:postgresql://localhost:5432/jwt_security
        username: postgres
        password: postgres
        driver-class-name: org.postgresql.Driver  
    jpa:
        hibernate:
            ddl-auto: create-drop
        show-sql: true
        properties:
            hibernate:
                format_sql: true
        database: postgresql
        database-platform: org.hibernate.dialect.PostgreSQLDialect
application:
    security:
        jwt:
            secret-key: 8aff38f1797d70e762c702b94521e4cee88c156cb022a5fa730b4efddd9bd99a
            expiration: 86400000 # 24 hours in milliseconds
            refresh-token:
                expiration: 604800000 # 7 days in milliseconds